BOT_TOKEN=YOUR_BOT_TOKEN
BOT_CHAT_ID=CHAT_ID_FOR_QUEUE_MASSEGES
AUTHORIZED_USER_ID=ID_FOR_ADMIN_USERS

QUEUEBOT_PORT=QUEUEBOT_PORT

DB_USER=NAME_DB_USER
DB_PASSWORD=PASS_DB
DB_NAME=NAME_DB
DB_PORT=PORT_DB
DB_HOST=localhost

PGADMIN_PORT=PGADMIN_PORT
PGADMIN_EMAIL=YOUR_EMAIL_FOR_PGADMIN
PGADMIN_PASS=PGADMIN_PASS

PGADMIN_REQUIRE_LOGIN=False_SET_TRUE_IN_PRODUCTION
PGADMIN_REQUIRE_PASS=False_SET_TRUE_IN_PRODUCTION

TOTAL_SLOTS_IN_QUEUE=0
AMOUNT_OF_BUTTONS_IN_ROW=0

DELAY_QUEUE=400ms
EXIRED_SES_TIME=4m